<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>  
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>The Server is Running</h1>
    <p>This is a page deployed to Heroku. It's just a landing page to show you that the server is running.</p>    
  </div>
</div>
</body>
</html>
